  <div class = "about-section">
    <div class = "container">
      <div class="col s12">
        <h3>Compare Currencies</h3>
        <p>Select two curreiences below to compare!  </p>
      </div>
    </div>
  </div>
  <div class = "comparison-selectors">
    <div class = "container">
      <div class = "col s12">
        <div class = "selectors">
          
        </div>
      </div>
    </div>
  </div>
  <div class = "comparison-box">
    <div class = "container">
      <div class = "col s12">
        <div class = "col s6">
          LEFT COLUMN
        </div>
        <div class = "col s6">
          RIGHT COLUMN
        </div>
      </div>
    </div>
  </div>
</body>