{{!-- ABOUT CV --}}
  <div class = "about-section">
    <div class="col s12">
      <div class = "about-text">    
      <h2>Welcome to the Cryptoverse</h2> 
      <p>A place for noobs to learn about cryptocurrency,  the basics of investing, and the latest news in the world of Crypto! This is just a whole bunch of filler text. Meow. </p>
      </div>
    </div>
  </div>

  <div class="userDashboard col s10 center">
    <button data-target="signIn" class="signInBtn center btn modal-trigger">Access User Dashboard</button>

    <div class="userMain">
    </div>

    <div class="userCoins">
    </div>

  </div>


    <!-- Sign-In Modal -->
  <div id="signIn" class="modal">
    <div class="modal-content center">
      <h4>User Log-In</h4>
      <p>Don't be a chump! Click the button to sign up!</p>
      <div class="row">
        <form class="col s10">
          <input placeholder="Name" id="name" type="text" class="validate">
          <input placeholder="Email" id="email" type="email" class="validate">
          <input placeholder="Password" id="password" type="password" class="validate">
        </form>
      </div>
    </div>
    <div class="modal-footer center">
      <button class="btn modal-close" id="logInBtn">Log-In</button>
      <button class="btn modal-close" id="signUpBtn">Sign-Up</button>
    </div>
  </div>

  <!-- Add Coin Modal -->
  <div id="addFav" class="modal">
    <div class="modal-content center">
      <h4>Add Crypto to you Favorites</h4>
      <div class = "Add Crypto">
        <div class = "row">
          <div class="input-field col s12">
            <select id="coinOptions">
              <option value="" disabled selected>Choose a Currency</option>
              <option value="ada">Cardano (ADA)</option>
              <option value="bat">Basic Attention Token (BAT)</option>
              <option value="btc">Bitcoin (BTC)</option>
              <option value="doge">Dogecoin (DOGE)</option>
              <option value="eth">Etherium (ETH)</option>
              <option value="ltc">Litecoin (LTC)</option>
              <option value="trx">Tron (TRX)</option>
              <option value="ven">VeChain (VEN)</option>
              <option value="xlm">Stellar (XLM)</option>
              <option value="xrp">Ripple (XRP)</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer center">
      <button class="btn center modal-close" id="addCoinBtn">Add Crypto</button>
      </div>
    </div>
  </div>

<!-- {{!-- COIN/ USER WIDGETS --}} -->
  <div class = "crypto-widgets">
    <div class = "container">
      <div class="row coinCardContainer">
        {{!-- <!-- ada -->
        <div class="col s12 m6 l4" id="ada">
          <div class="card horizontal">
            <div class="card-image" style="padding-top: 50px">
              <img src="assets/images/ada.Cardano.png">
            </div>
            <div class="card-stacked">
              <div class="card-content" style="padding-top: 10px">
                <h5><b>ADA</b></h5>
                <h6>User Amounts: <span id="adaAmounts">10</span></h6>
                <h6>Market Value: <span id="adaAmounts">100,000</span></h6>
              </div>
            </div>
          </div>
        </div>
        <!-- END ada --> --}}
      </div>
    </div>
</div>

{{!-- NEWS CONTAINER --}}
  <div class = "news-section">
    <div class = "row">
      <div class="col l6 s12">
        <h2>News</h2>
        <div class = "news-api-body">
        
        </div>
      </div>
    </div>
  </div>

{{!-- CHART/ HOME IMAGE --}}
  <div class = "animated-chart">
    <div class = "row">
      <div class="col l6 s12">
        <img src = "#">Animated Chart</a>
      </div>
    </div>
  </div>