{{!-- ABOUT CV --}}
  <div class = "about-section">
    <div class="col s12">
      <h2>Welcome to the Cryptoverse</h2>
      <p>A place for noobs to learn about cryptocurrency,  the basics of investing, and the latest news in the world of Crypto! This is just a whole bunch of filler text. Meow. </p>
    </div>

    <button>Start Here!</button>
  </div>

{{!-- NEWS CONTAINER --}}
  <div class = "news-section">
    <div class = "row">
      <div class="col l6 s12">
        <h2>News</h2>
      </div>
    </div>
  </div>

{{!-- CHART --}}
  <div class = "animated-chart">
    <div class = "row">
      <div class="col l6 s12">
        <img src = "#">Animated Chart</a>
      </div>
    </div>
  </div>

{{!-- WIDGETS --}}
  <div class = "crypto-widgets">
    <div class="row">
      <div class="col s12 m6 l3"><p>CURRENCY WIDGET ONE</p></div>
      <div class="col s12 m6 l3"><p>CURRENCY WIDGET TWO</p></div>
      <div class="col s12 m6 l3"><p>CURRENCY WIDGET THREE</p></div>
      <div class="col s12 m6 l3"><p>CURRENCY WIDGET FOUR</p></div>
    </div>
  </div>