{{!-- ABOUT CV --}}
  <div class = "about-section">
    <div class="col s12">
      <h2>Welcome to the Cryptoverse</h2>
      <p>A place for noobs to learn about cryptocurrency,  the basics of investing, and the latest news in the world of Crypto! This is just a whole bunch of filler text. Meow. </p>
    </div>

    <button>Start Here!</button>
  </div>

{{!-- NEWS CONTAINER --}}
  <div class = "news-section">
    <div class = "row">
      <div class="col l6 s12">
        <h2>News</h2>
      </div>
    </div>
  </div>

{{!-- CHART --}}
  <div class = "animated-chart">
    <div class = "row">
      <div class="col l6 s12">
        <img src = "#">Animated Chart</a>
      </div>
    </div>
  </div>

<!-- {{!-- WIDGETS --}} -->
  <div class = "crypto-widgets">
    <div class = "container">
      <div class="row">
        <!-- CARD ONE -->
        <div class="col s13 m4">
            <h4 class="header">ETH</h4>
            <div class="card horizontal">
              <div class="card-image">
                <img src="https://lorempixel.com/100/190/nature/6">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
        </div>
        <!-- END CARD ONE -->
        <!-- CARD TWO -->
        <div class="col s12 m4">
            <h4 class="header">BTC</h4>
            <div class="card horizontal">
              <div class="card-image">
                <img src="https://lorempixel.com/100/190/nature/6">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
        </div>
        <!-- END CARD TWO -->
        <!-- CARD THREE -->
        <div class="col s12 m4">
            <h4 class="header">DOGE</h4>
            <div class="card horizontal">
              <div class="card-image">
                <img src="https://lorempixel.com/100/190/nature/6">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
          </div>
        <!-- END CARD THREE -->
      </div>
    </div>
  </div>
  