  <div class = "info-slider">
    <div class = "col s12">
      INFO-SLIDER
    </div>
  </div>

  <div class = "icon-list">
    <div class = "col s12">
      ICON SELECTORS
    </div>
  </div>

  <div class = "coin-info">
    <div class = "col s12">
      COIN PARTIALS
    </div>
  </div>

