  <div class = "info-slider">
    <div class = "col s12 center-align ">
      <img src = "./assets/images/welcome.png"></a>
    </div>
  </div>

  <div class = "icon-list">
    <div class = "container">
      <div class = "col s12 center-align">
        <div class = "row">
        <div class ="col s1"></div>
        <div class="col s1"><img src="../assets/images/ada.Cardano.png" style="width:50px; height:50px"></a></div>
        <div class="col s1"><img src="../assets/images/bat.BasicAttentionToken.png" style="width:70px; height:50px"></a></div>
        <div class="col s1"><img src="../assets/images/btc.Bitcoin.png" style="width:50px; height:50px"></a></div>
        <div class="col s1"><img src="../assets/images/doge.Dogecoin.png" style="width:50px; height:50px"></a></div>
        <div class="col s1"><img src="../assets/images/eth.Ethereum.png" style="width:50px; height:50px"></a></div>
        <div class="col s1"><img src="../assets/images/ltc.Litecoin.png" style="width:50px; height:50px"></a></div>
        <div class="col s1"><img src="../assets/images/trx.TronCoin.png" style="width:60px; height:50px"></a></div>
        <div class="col s1"><img src="../assets/images/ven.VeChain.png" style="width:50px; height:50px"></a></div>
        <div class="col s1"><img src="../assets/images/xlm.stellar.png" style="width:50px; height:50px"></a></div>
        <div class="col s1"><img src="../assets/images/xrp.Ripple.png" style="width:50px; height:50px"></a></div>
        <div class ="col s1"></div>
      </div>
    </div>
  </div>

  <div class = "coin-info">
    <div class = "col s12">
      <div class="coinInfo"></div>
    </div>
  </div>

   <div id="chart"></div>


{{!-- Tape Slider from MXTP --}}
{{!-- var tapeImageArray = []; 
  var tape1 = $('<img class="tapeImages" id="tape1" src="assets/images/tape1.jpg" style="width:100%">'); 
  var tape2 = $('<img class="tapeImages" id="tape2" src="assets/images/tape2.png" style="width:100%">'); 
  var tape3 = $('<img class="tapeImages" id="tape3" src="assets/images/tape3.png" style="width:100%">'); 
  var tape4 = $('<img class="tapeImages" id="tape4" src="assets/images/tape4.jpg" style="width:100%">'); 
  var tape5 = $('<img class="tapeImages" id="tape5" src="assets/images/tape5.png" style="width:100%">'); 
  tapeImageArray.push(tape1, tape2, tape3, tape4, tape5); 
  // console.log(tapeImageArray[0]); 
  var tape = 0
  $('.images').html(tapeImageArray[tape]); 

  $('.tapeBtns').on('click', function() {
    var btn = $(this).attr('id'); 
    // console.log(btn);
    if (btn === "arrowBtnL") {
      tape = tape - 1; 
      if (tape < 0) {
        tape = (tapeImageArray.length - 1); 
      }
    } else if (btn === "arrowBtnR") {
      tape = tape + 1; 
      if (tape > (tapeImageArray.length - 1)) {
        tape = 0
      }
    }
    $('.images').html(tapeImageArray[tape]); 
  }); //END  --}}
