  <div class = "info-slider">
    <div class = "col s12">
      INFO-SLIDER
    </div>
  </div>

  <div class = "icon-list">
    <div class = "col s12">
      ICON SELECTORS
      <img class="coinBtns" id="btc" src="/assets/images/btc.Bitcoin.png" alt="">
      <img class="coinBtns" id="ada" src="/assets/images/ada.Cardano.png" alt="">
    </div>
  </div>

  <div class = "coin-info">
    <div class = "col s12">
      COIN PARTIALS
      {{> coins/}}

    </div>
  </div>

