/* Global  */
  body {
    background: linear-gradient(#192231, #494e6b,#98878F);
  }

  nav {
    /* padding-bottom: 20px 0; */
    /* margin: 10px 0; */
  }
  .nav-wrapper {
    background-color: #494e6b;
    /* padding: 10px 0; */
  }

  #button {
    background-color: #985E6D;
  }

/* Home */
  .about-text {
    padding: 0 15px;
  }

  .card-image {
    padding-top: 25px;
  }


  #card-3 {
    width: 80px;
    height: 80px;
    margin-top: -5px;
    margin-left: 2px;
  }


/* Learn */
  .info-slider {
  /* background-color: #192231; */
  padding-top: 5px;
  }

  .icon-list {
    padding: 15px 0;
  }

/* Compare */

/* Dashboard */

/* Footer */
  .page-footer{
    background-color: #192231;
  }
