/* Global  */
  body {
    background: linear-gradient(#192231, #494e6b,#98878F);
  }

  nav {
    /* padding-bottom: 20px 0; */
    /* margin: 10px 0; */
  }
  .nav-wrapper {
    background-color: #494e6b;
    /* padding: 10px 0;  */
  }

  #button {
    background-color: #985E6D;
  }


/* Home */
  .about-text {
    padding: 0 15px;
  }

  .signInBtn {
    background-color: #985E6D; 
  }

  .card-image {
    padding-top: 25px;
  }

/* Learn */
  HEAD
  /* Added CSS for the Pie Chart */
    #chart {                                                          
      height: 360px;                                                  
      position: relative;                                             
      width: 360px;                                                   
    }                                                                 
    .tooltip {                                                        
      background: #eee;                                               
      box-shadow: 0 0 5px #999999;                                    
      color: #333;                                                    
      display: none;                                                  
      font-size: 16px;                                                
      left: 130px;                                                    
      padding: 10px;                                                  
      position: absolute;                                             
      text-align: center;                                             
      top: 95px;                                                      
      width: 80px;                                                    
      z-index: 10;                                                    
    }   

    .legend {
      font-size: 12px;
    }

    rect {
      stroke-width: 2;
    }

  /* End CSS for Pie Chart */

  .info-slider {
  padding-top: 10px;
  }

  #arrowBtnL {
    position: absolute; 
    bottom: 50%; 
    left: 8%; 
    z-index: 1; 
    background-color: white;
    color: black;
  }

  #arrowBtnR {
    position: absolute; 
    bottom: 50%; 
    z-index: 1; 
    right: 8%; 
    background-color: white;
    color: black;
  }

  .icon-list {
    padding: 20px 0;
  }

/* Compare */

/* Dashboard */

/* Footer */
  .page-footer{
    background-color: #192231;
  }
